img{
  width: 30%;
  float: left;
  margin: 1.6%;
}
p{
  margin-left: 1.6%;
  font-size: 30px;
  font-family: 'Merienda One', cursive;
  border-bottom: solid 3px #f1f1f1;
  font-size: 23px;
  width: 30%;
  padding-bottom: 20px;
  font-weight: 800;
}
