<!--<style>
        body{
        color: crimson;
        }
    </style> -->

<!-- <link rel="stylesheet" href="/app.css"> -->

<%- include ("partials/header") %>

<h1>Welcome to the Home Page</h1>

<img src="https://i.ibb.co/7gmhPLQ/47.jpg">

<!-- image full HTML Link <a href="https://ibb.co/rbr9YN3"><img src="https://i.ibb.co/7gmhPLQ/47.jpg" alt="47" border="0"></a> -->

<%- include ("partials/footer.ejs") %>