<h1>Hello....Welcome to the Pet quality page:  <%= petName %> </h1>

<% if(petName.toLowerCase() === 'rusty'){ %>
    <p>Your choice of Rusty pet is Great !</p>
<% } else { %>
    <p>Your choice of <%= petName %> pet is Worst !</p>
<% } %>

<h2>You are a Fool...Dumb !</h2>